
<div class="container-fluid">
	<h3><%= @message.title %></h3>
    <p><%= time_ago_in_words(@message.created_at)%> ago</p>
    <p><%= @message.description %></p>

<table>
	<tbody>
		<td><%= link_to "Edit", edit_message_path(@message.id), class: 'btn btn-primary' %></td>

		<% if user_signed_in? %>
		  <% if @message.user_id == current_user.id%>

		<td><%= button_to "Delete", message_path(@message.id), method: :delete, class: 'btn btn-danger' %></td>

		  <% end %>
		<% end %>
		<td><%= link_to "Back", messages_path, class: 'btn btn-secondary' %></td>

	</tbody>
</table>

	<h3>Discussion:</h3>
    <p><%= render @message.comments %></p>

    <h3>Join Discussion</h3>
    <p><%= render 'comments/form'%></p>

</div>

